<!DOCTYPE html>
<html>

<head>
    <title>kimi5 -- search</title>

 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
</head>

<body>

<div class="ui container">

    {% block content %}

    {% endblock %}
    

</div>
</body>
</html>