{% extends "chota.html" %}

{% block content %}
<p><a href="/">Back</a></a></p>
<div class="row">
    <div class="col"> 
        <h1>Discussion & Support Forums</h1>

  <p>
    <ul>
      <li>Job Search</li>
      <li>Living in Japan</li>
      <li>Something else</li>
      
    </ul>
</p>
    </div>
    <div class="col"> 
        
        <h1>Rules of Use</h1>
        <p>
          <ul>
            <li>No lying, no racism, no Tories</li>
            
          </ul>
        </p>
    </div>
</div>
{% endblock %}