{% extends "base.html" %}

{% block content %}

<div class="ui three column doubling stackable grid container">
  <div class="column">
    <div class="ui labeled button" tabindex="0">
      <div class="ui red button">
        <i class="heart icon"></i> Like
      </div>
      <a class="ui basic red left pointing label">
        1,048
      </a>
    </div>
    <div class="ui labeled button" tabindex="0">
      <div class="ui basic blue button">
        <i class="fork icon"></i> Forks
      </div>
      <a class="ui basic left pointing blue label">
        1,048
      </a>
    </div>
  </div>
  <div class="column">
    <p>Col 2</p>
    <p>lorem ipsum sanctilicaetum nomen tuum, in the halls o Montezume therr lies many thing to do</p>
  </div>
  <div class="column">
    <p>Col 3</p>
    <p>If you have apps using any of these resources, you must upgrade to paid plans by this date to ensure your apps continue to run and to retain your data. For students, we will announce a new program by the end of September. Learn more at https://blog.heroku.com/next-chapter</p>
  </div>
  
</div>


</body>

{% endblock %}
</html>